<!-- <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cineminha no Beco</title>
</head>
<body>
    <h1>TESTE</h1>
</body>
</html> -->
{% extends "index.html" %}
{% block title %}
Cineminha no Beco
{% endblock %}
{% block content %}
{% load static %}
    <img class="logo" src="{% static 'appOng/logo_cineminha.png' %}" alt="logo" />
    <nav>
        <ul>
            <a href="{% url 'home' %}">
                <li>Home</li>
            </a>
            <a href="{% url 'galeria' %}">
                <li>Galeria</li>
            </a>
        </ul>
    </nav>
    <h1>TESTE</h1>
{% endblock %}