{% extends "base.html" %}
{% block title %}
Cineminha no Beco
{% endblock %}
{% block content %}
{% load static %}
<section class="galeria-container">
    <h2>Galeria de fotos</h2>
    <div class="galeria">
        <div class="filme"><img src="{% static 'appOng/foto1.jpg' %}"></div>
        <div class="filme"><img src="{% static 'appOng/foto2.jpg' %}"></div>
        <div class="filme"><img src="{% static 'appOng/foto3.jpg' %}"></div>
        <div class="filme"><img src="{% static 'appOng/foto4.jpg' %}"></div>
        <div class="filme"><img src="{% static 'appOng/foto5.jpg' %}"></div>
        <div class="filme"><img src="{% static 'appOng/foto6.jpg' %}"></div>
        <div class="filme"><img src="{% static 'appOng/foto7.jpg' %}"></div>
        <div class="filme"><img src="{% static 'appOng/foto8.jpg' %}"></div>
        <div class="filme"><img src="{% static 'appOng/foto9.jpg' %}"></div>
        <div class="filme"><img src="{% static 'appOng/foto10.jpg' %}"></div>
        <div class="filme"><img src="{% static 'appOng/foto11.jpg' %}"></div>
        <div class="filme"><img src="{% static 'appOng/foto12.jpg' %}"></div>
        <div class="filme"><img src="{% static 'appOng/foto13.jpg' %}"></div>
        <div class="filme"><img src="{% static 'appOng/foto14.jpg' %}"></div>
        <div class="filme"><img src="{% static 'appOng/foto15.jpg' %}"></div>
        <div class="filme"><img src="{% static 'appOng/foto16.jpg' %}"></div>
        <div class="filme"><img src="{% static 'appOng/foto17.jpg' %}"></div>
        <div class="filme"><img src="{% static 'appOng/foto18.jpg' %}"></div>
        <div class="filme"><img src="{% static 'appOng/foto20.jpg' %}"></div>
        <div class="filme"><img src="{% static 'appOng/foto21.jpg' %}"></div>
        <div class="filme"><img src="{% static 'appOng/foto22.jpg' %}"></div>
    </div>
</section>
<footer>
    <p>&copy; 2024 Todos os direitos reservados</p>
</footer>
{% endblock %}
