
{% extends "base.html" %}
{% block title %}
Cineminha no Beco
{% endblock %}
{% block content %}
{% load static %}
<section class="banner">
    <h1>A magia do cinema transforma histórias em emoções</h1>
</section>
    <main>
        <section class="about">
            <h2 class="sobreH2">Sobre</h2>
            <p>Cineminha no Beco é um cinema social que visa democratizar o acesso à sétima arte, levando filmes de qualidade e cultura
                cinematográfica a comunidades menos favorecidas, especialmente moradores de favelas.
                Com uma programação diversificada que inclui clássicos, filmes
                independentes e documentários, o projeto busca não apenas entreter, mas também promover reflexão e 
                discussão sobre temas relevantes para a comunidade. Além de exibições de filmes, o Cineminha no Beco oferece oficinas e 
                atividades culturais, criando um espaço inclusivo onde todos podem desfrutar da magia
                 do cinema e fortalecer laços comunitários..</p>
        </section>
    </main>
<footer>
    <p>&copy; 2024 Todos os direitos reservados</p>
</footer>
{% endblock %}
