 * {
     margin: 0;
     box-sizing: border-box;
 }

 body {
     font-family: "Roboto Condensed", sans-serif;
 }

 header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #01AAEF;
 }

 .logo {
     width: 5.5vw;
     margin-top: 0.3rem;
 }

 nav {
     width: 25%;
 }

 ul {
     list-style: none;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
 }

 li {
     font-size: 1.5rem;
     transition: 0.2s;
 }

 li:hover {
     transition: 0.2s;
     color: darkblue;
     transform: scale(1.05);
 }

 a {
     color: black;
     text-decoration: none;
 }
 .banner {
     background: url('background\ cinema.jpeg') no-repeat center;
     background-size: 100%;
     /* Ajusta a imagem para caber dentro do contêiner */
     color: white;
     text-align: center;
     padding: 50px 20px;

 }

 .banner h1 {
     font-size: 56px;
 }

 .about {
     padding: 20px;
     background-color: #333;
     color: white;
     text-align: center;
 }

 .sobreH2 {
    font-size: 3rem;
 }

 .about p {
     font-size: 1.4rem;
     margin-top: 3rem;
 }

 footer {
     background-color: black;
     color: white;
     text-align: center;
     padding: 10px;
 }