 * {
     margin: 0;
     box-sizing: border-box;
 }

 body {
     font-family: "Roboto Condensed", sans-serif;
 }

 header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #01AAEF;
 }

 .logo {
     width: 5.5vw;
     margin-top: 0.3rem;
 }

 nav {
     width: 25%;
 }

 ul {
     list-style: none;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
 }

 li {
     font-size: 1.5rem;
     transition: 0.2s;
 }

 li:hover {
     transition: 0.2s;
     color: darkblue;
     transform: scale(1.05);
 }

 a {
     color: white;
     text-decoration: none;
 }

 .banner {
     background-color: black;
     background: url('foto1.jpg') no-repeat center;
     background-size: 100% 100%;
     /* Ajusta a imagem para caber dentro do contêiner */
     color: white;
     text-align: center;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     height: 90vh;
     flex-direction: column;
 }

 .banner h1 {
     font-size: 56px;
     width: 55vw;
 }

 .botaoSobre {
     font-size: 30px;
     border-radius: 20px;
     border: none;
     cursor: pointer;
     background-color: #01AAEF;
     color: white;
     transition: 0.5s;
 }

 .botaoSobre:hover {
     transform: scale(1.1);
     background-color: darkblue;
     transition: 0.5s;
 }

 .about {
     padding: 20px;
     background-color: #333;
     color: white;
     text-align: center;
 }

 .sobreH2 {
     font-size: 3rem;
 }

 .about p {
     font-size: 1.5rem;
     margin-top: 2.5rem;
     text-align: start;
 }

 footer {
     background-color: black;
     color: white;
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .redesSociais {
     display: flex;
     justify-content: space-evenly;
     width: 10vw;
 }

 footer img {
     width: 2.5vw;
     cursor: pointer;
 }