.galeria-container {
    width: 90%;
    max-width: 1000px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.galeria-container h2 {
    font-size: 3em;
    margin-bottom: 30px;
    color: #333;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.filme img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px #164cca;
    transition: transform 0.7s ease;
}


.filme img:hover {
    transform: scale(1.13);
}

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(150, 255, 255);
}